.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.profile-container label {
  display: block;
  margin-bottom: 10px;
}

.profile-container input,
.profile-container select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 40px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  z-index: 100;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Optional: Add some styling to the hamburger */
.hamburger-react {
  margin: 10px;
}


.page-container {
  max-width: 600px; /* Adjust as needed */
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

/* Optional: General styling for headings */
h1 {
  text-align: center;
  color: #333;
}

/* Improve the layout of the question */
.question-container {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

/* Style for question images */
.question-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}
